body {
    font-size:12px;
    background-color:#eeeef6;
    font-family:sans;
    line-height:120%;
    margin:0px 20px;
}
div.motes1 {
    margin-bottom:12px;
    line-height:120%;
}
div.motes2 {
    margin-bottom:12px;
    line-height:150%;
}
div.mote {
}
div.contents {
    margin-top:60px;
    border-bottom:thin dashed;
}
div.subcontents {
    margin:10px 0px;
}
div.topmenu {
    float:left;
    word-spacing:12px;
    font-size:100%;
    padding-top:10px;
    padding-bottom:10px;
    white-space:nowrap;
    text-align:left;
    border-top:thin dashed;
    border-bottom:thin dashed;
    margin-bottom:12px;
    width:100%;
}
div.form {
    margin-bottom:12px;
}
div.title {
    font-size:120%;
    font-weight:bold;
    text-align:center;
    margin:20px 0px;
}
div.error {
    font-weight:bold;
}
div.error2 {
    font-weight:bold;
    font-size:120%;
    text-align:center
}
#chart_div {
    border:thin;
}
#listen_div {
    min-width:400px;
    height:430px;
    margin:0 auto;
    padding-top:6px;
    padding-bottom:10px;
    padding-left:12px;
    border:2px;
    border-style:dashed;
}
